 /* large and up views */

@media only screen and (min-width: 775px) {

    
    .navigation li:first-child { display: none;	}
	.navigation li { display; flex: 1 1 auto; }
    .navigation, .container { flex-direction: row; }
    

    
    body {
        font-size: 18px;
    }

    header {
        background-color: #AFEEEE;
        text-align: center;

    }
    .g-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: DodgerBlue;
        box-shadow: 0 0 50px #333;
        }

    .t-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: DodgerBlue;
            grid-gap: 50px;
            }
            
      


    main img {
        float: right;
        background-color: #C4DBF6;
    }


    nav li {
        display: inline;
     
    }

    nav ul.hide {

        display:block;
        
        }

    .hide {
        display: inline;  
      }

    .hide1 {
        display: block;  
      }

    main, article, section, h1, h2, h3, main li {
        text-align: center;
}


}