
body {
    font-size: 14px;
    font-family: 'Roboto Mono', 'Segoe UI', Arial, sans-serif, monospace;
    color: #000000;
    
}

.clearfix {
    overflow: auto;
  }

.icon {
    height: 60px;
    width: 60px;
    float: none;

}   

.siteTitle {
    font-size: 35px ;
    text-align: center;
    margin: 0 0 0 6px

 
}

header {
    font-size: 45px;
    color: #B23850;
    margin: 0 0 0 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #bbb;
    
}

.clearfix {
    overflow: auto;
  }

h1 {
    font-size: 32px ;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto Mono', sans-serif;
    color:  #B23850;
 
}

h2 {
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    margin: 10px;
    padding: 10px;
    color:  #B23850;


}

h3 {
    font-size: 28px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    color:  #B23850;
}

h4 {
     
    max-width: 100%;
    max-height: 100%;
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    color:  #B23850;
    text-shadow:3px 3px 5px;
    margin: 5px;
    padding: 5px;
}


main {
    /*max-width:820px;*/
    margin:0 auto;

}



.hero {
    margin: 5px auto;
    padding: 2px;
    position: relative;
    height:fit-content;

}


.g-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: DodgerBlue;
    grid-gap: 50px;
    }
    
.g-container > img {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
    }

#tdata {

    display: grid;
    grid-template-columns: 1fr;
    background-color:#AFEEEE
    /*box-shadow:0 0 50px #333;*/
}    

.t-container {
        display: grid;
        grid-template-columns: 1fr;
        background-color: DodgerBlue;
        grid-gap: 50px;
        }
        
.t-container > img {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        
        }


.summary {
    position: absolute;
    display : inline;
	top: 15px;
	left: 30px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 10px;
	box-shadow: 0 0 30px #fff;
}

#ftable {
    /* display : grid;
    width: auto;
    padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around 10px;


}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

li {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 16px;

 
}

li a:hover {
    background-color: #8590AA;
    color: #B23850;
}

li a.active {
    background-color: #EEE;
    color: #3B8BEB;
}

nav {
    font-size: 18px ;
    color: #000000;
    background-color: #AFEEEE ;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
    
}

.navigation {
    list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

nav a {

    text-decoration: none;
    color: #000000;
}

nav li .active {

    background-color: #eee;
}


nav li {
    display: none;
}
nav li:first-child {
    display: contents;
}

nav .unhide li {
    display: contents;

}



 .hide1 {
    display: none;  
    align-content: center;

 }
 
.forecast {
    margin: 5px auto;
}

main {
    max-width: 900px;
    background-color: #cccccc;
}

article, section {
    text-align: center;
    
    padding: 2px;
    margin: 2px;
}

article img {
    width : auto;


}


main img {
    max-width: 100%;
        float: auto;
        margin: auto;
}

header img {
    width: 170px;
    height: auto;
    float: left;
    max-width : 100%;
}

table img {
    float: none;
    margin: auto;
}

#tdata.t1  {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
    max-width: auto;
    margin: auto;
    background-color: #AFEEEE;
    border: #000;
}

/*.twn-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 5px;
    max-width: 1000px;
    margin: auto;
    background-color: #777;
    color: black;
    text-align: center;
}*/

fieldset {
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rating {
    margin: auto;
}

footer {
    font-size: 15px ;
    color: #B23850;
    vertical-align: middle;
    text-align: center;

  
}
