
body {
    font-size: 14px;
    font-family: 'Roboto Mono', 'Segoe UI', Arial, sans-serif, monospace;
    color: #000000;
}

.icon {
    height: 60px;
    width: 60px;
    float: left;

}   

.siteTitle {
    font-size: 35px ;
    text-align: center;
    color: #E7E3D4; ;
}

.motto {
    font-style: italic;

}

h1 {
    font-size: 35px ;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    color: #E7E3D4; ;
}

h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    color: #E7E3D4;
}

h3 {
    font-size: 21px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    color: #E7E3D4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #C4DBF6;
}

li {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
 
}

li a:hover {
    background-color: #8590AA;
    color: #B23850;
}

li a.active {
    background-color: #8590AA;
    color: #3B8BEB;
}

nav {
    font-size: 35px ;
    color: #000000
}


header {
    font-size: 45px ;
    color: #B23850
    vertical-align: middle;
}

header img {
    width: 230px;
    height: auto;
    float: left;
}

footer {
    font-size: 15px ;
    color: #C4DBF6
    vertical-align: middle;

  
}