
body {
    font-size: 14px;
    font-family: 'Roboto Mono', 'Segoe UI', Arial, sans-serif, monospace;
    color: #000000;
    
}

.icon {
    height: 60px;
    width: 60px;
    float: none;

}   

.siteTitle {
    font-size: 35px ;
    text-align: center;
    margin: 0 0 0 6px

 
}

header {
    font-size: 45px;
    color: #B23850;
    margin: 0 0 0 8px
    
}

.clearfix:after  {

    content:"";
    display: table;
    clear: both;

}

h1 {
    font-size: 32px ;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    color:  #B23850;
 
}

h2 {
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    margin: 10px;
    padding: 10px;
    color:  #B23850;


}

h3 {
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    color:  #B23850;
}

h4 {
     
    max-width: 100%;
    max-height: 100%;
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    border-bottom: 1px solid #bbb;
    color:  #B23850;
    text-shadow:3px 3px 5px;
    padding-bottom: 2px;
}

main {
    max-width:820px;
    margin:0 auto;

}


.hero {
    margin: 10px auto;
    padding: 2px;
    position: relative;

}


.g.container {
    display: flex;
    flex-wrap:
    wrap;
    background-color: DodgerBlue;
    }
    
.g.container > {
     background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
    }

.summary {
	position: absolute;
	top: 15px;
	left: 30px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 10px;
	box-shadow: 0 0 30px #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

li {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 16px;

 
}

li a:hover {
    background-color: #8590AA;
    color: #B23850;
}

li a.active {
    background-color: #EEE;
    color: #3B8BEB;
}

nav {
    font-size: 18px ;
    color: #000000;
    background-color: #AFEEEE ;
    padding: 10px;
    text-decoration: none;
}

.navigation {
    list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

nav a {

    text-decoration: none;
    color: #000000;
}

nav li .active {

    background-color: #eee;
}

.responsive li { 
    
    display: block; 

}


.hide {  
    display: none;  
  }  

 .hide1 {
    display: none;  

 }
 

main {
    max-width: 900px;
    background-color: #cccccc;
}

/* -----------FORM--------------*/

form fieldset {
 
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {

   color: #445ba9;
   margin: 0 1rem;
   padding: 0 .5rem;
}

form label.top, form div {

   display: block;
   padding-top: 1rem;
   color: #9c2c13;
   font-size: .8rem;
}

form label.top input, for label.top select {

   -webkit-appearance: none;
   display: block;
   font-size: 1rem;
   border :  solid 1px #999;
   border-radius: 4px;
   padding: .75rem;
   color: #555;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0,0,0,0.1);

}

form label.sbs {

   display:block;
   padding: .75rem 0;
   color: #555;

}

form input.submitBrn {

   border: none;
   background-color: #9c2c13;
   color: white;
   border-radius: 1rem;
   padding: .75rem 1.5 rem;
   margin: 0 0 2rem 2%;
   width: 96%;
   max-width: 20rem;

}

form label.top input:required {

   border-left: red solid 6px;

}

form label.top input:required:valid {

   border-left: green solid 6px;
}

article, section {
    text-align: center;
    
    padding: 2px;
    margin: 2px;
}

article img {
    width : 100%;


}

header img {
    max-width : 100%;
}
main img {
    max-width: 100%;
        float: right;
        margin: -2px 0 0 0 ;
}

header img {
    width: 230px;
    height: auto;
    float: left;
}




footer {
    font-size: 15px ;
    color: #B23850;
    vertical-align: middle;
    text-align: center;

  
}
