 /* medium and up views */

@media only screen and (min-width: 775px) {

    .navigation li:first-child { display: none;	}
	.navigation li { display: block; flex: 1 1 auto; }
    .navigation, .container { flex-direction: row; }
    
}
    
    body {
        font-size: 18px;
    }

    header {
        background-color: #AFEEEE;
        text-align: center;

    }

    main img {
        float: right;
        background-color: #C4DBF6;
    }


    nav li {
        display: inline;
     
    }

    .hide {
        display: inline;  
      }

    .hide1 {
        display: block;  
      }

    main, article, section, h1, h2, h3, main li {
        text-align: center;
}


}